.auth-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    .nav{
        align-self: center;
        .login.active{
         background: #e8eaf6;
        }
        .register.active{
            background: #fff8f7;
        }
    }
    .form{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        .full-width{
            width: 500px;
            margin-bottom: 30px;
        }
        .form-field{
          
        }
        .btn{
            margin-right: 25px;
            align-self: flex-end;
            font-size: 16px;
            padding: 25px 35px;
        }
    }
}
